doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/css/style.css")
    title addUser2 - Mysql 사용
  body
    section.wrap
      header Add Users (using PUG, Mysql)
      form(method='post' action='/process/adduser')
        div
          input(type='text' name='id' placeholder='your ID' value='dooyou')
        div
          input(type='text' name='name' placeholder='your name' value='dooyou_Name')
        div
          input(type='text' name='age' placeholder='age' value='10')
        div
          input(type='password' name='pw' placeholder='password' value='11')    
        div
          input(type='submit' value='confirm')    
      a(href='/process/login') 로그인  
